################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Sender
/Receiver/.vs/BatteryStreamReceiver
/Receiver/BatteryStreamReceiver/obj
/Receiver/BatteryStreamReceiver/bin/Debug/netcoreapp3.1
/Receiver/BatteryStreamReceiver.Test/obj
/Receiver/BatteryStreamReceiver.Test/bin/Debug/netcoreapp3.1
